# Entorno virtual
venv/
.venv/

# Archivos de PyInstaller
*.spec
dist/
build/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de logs
*.log

# Configuración de IDEs
.vscode/
.idea/
*.swp

# Archivos del sistema
.DS_Store
Thumbs.db
